out/
7B/
13B/
__pycache__/
checkpoint**
minimal-llama**
upload.py
lora-**
*ckpt
wandb
evaluate.py
test_data.json
todo.txt
.venv
.vscode
**/*~ 
.act/*
/mnt/cache/*
alpaca_lora.tar
/mnt/offload/*
alpaca_lora.tar
.docker_*